/* Custom CSS */
body {
  font-family: 'Arial', sans-serif;
}

.navbar-brand .logo {
  height: 40px;
  width: 40px;
}

.navbar-brand div {
  line-height: 1;
  font-size: 14px;
}

.profile-img {
  width: 100px;
  height: 100px;
}

.profile-img-small {
  width: 40px;
  height: 40px;
}

.profile-card {
  background-color: #f8f9fa;
}

.profile-card .card-title {
  margin-bottom: 0;
}

.card-body {
  padding: 20px;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.calendar .d-flex {
  flex: 1;
  justify-content: center;
}

.calendar button {
  width: 14.28%;
  padding: 10px;
  border: none;
  background: none;
  font-size: 14px;
  cursor: pointer;
}

.card .event-list {
  margin-top: 20px;
}

.card .event-list-title {
  margin-top: 20px;
}

.event-list .event {
  margin-bottom: 10px;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title i {
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}

.navbar .form-inline .input-group.search-group .form-control {
  width: 550px; /* Tamaño más grande del input */
}
















